<%= form_for @account, :url => url_for(:controller => 'accounts_trackgroups', :action => 'destroy'), html: {method: "delete"}  do |f| %>

<p>
  <%= f.hidden_field :idTrackgroup, :value => @trackgroup.id %>
  <%= f.hidden_field :idAccount, :value => @account.id %>
  <%= f.submit "Remove from this trackgroup", class: 'btn btn-danger' %>
</p>

<% end %>