<span class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <img src="img/braum.png" class="img-responsive" alt="Image News">
    </div>
    <div class="col-md-3">
      <span class="victory">Victoire</span><br/>
      <span class="map_name">Faille de l'invocateur</span>
      <span class="game_date">05.03.2011 16:50</span>
    </div>
    <div class="col-md-2">
      10 tués<br/>
      5 morts<br/>
      4 assistances
    </div>
    <div class="col-md-2">
      7000 or<br/>
      5 minions
    </div>
    <div class="col-md-2">
      <ul class="list-group row">
        <li class="list-group-item col-xs-4">
          <img src="img/icons/1.png" class="img-responsive" alt="obj1"/>
        </li>
        <li class="list-group-item col-xs-4">
          <img src="img/icons/2.png" class="obj_img" alt="obj2"/>
        </li>
        <li class="list-group-item col-xs-4">
          <img src="img/icons/blank.png" class="obj_img" alt="blank"/>
        </li>
        <li class="list-group-item col-xs-4">
          <img src="img/icons/blank.png" class="obj_img" alt="blank"/>
        </li>
        <li class="list-group-item col-xs-4">
          <img src="img/icons/blank.png" class="obj_img" alt="blank"/>
        </li>
        <li class="list-group-item col-xs-4">
          <img src="img/icons/blank.png" class="obj_img" alt="blank"/>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <a href="#">Détails du match</a>
    </div>
  </div>
</span>