<div class="row">
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <div class="caption">
              <h3>Team 3v3</h3>     
            </div>
            <img src="img/bronze.png" alt="Bronze I">
            <div class="caption">
              <h4>Bronze 1</h4>
              <p>59 points</p>
              <p>10 victoires - 5 défaites (66%)</p>
            </div>
          </div>   
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <div class="caption">
              <h3>Solo ranked</h3>     
            </div>
            <img src="img/bronze.png" alt="Bronze I">
            <div class="caption">
              <h4>Bronze 1</h4>
              <p>59 points</p>
              <p>10 victoires - 5 défaites (66%)</p>
            </div>
          </div>   
        </div>
        <div class="col-md-4">
          <div class="thumbnail text-center">
            <div class="caption">
              <h3>Team 5v5</h3>     
            </div>
            <img src="img/bronze.png" alt="Bronze I">
            <div class="caption">
              <h4>Bronze 1</h4>
              <p>59 points</p>
              <p>10 victoires - 5 défaites (66%)</p>
            </div>
          </div>   
        </div>
        </div>