<table class="table table-responsive">
  <tr>
    <th>Nombre de parties</th>
    <td>50</td>
    <th>Victoires</th>
    <td>0 (trop nul)</td>
  </tr>
  <tr>
    <th>Nombre de tués</th>
    <td>10</td>
    <th>Nombre de tués</th>
    <td>10</td>
  </tr>
</table>