<table class="table table-responsive">
  <tr>
    <th>Nombre de parties</th>
    <td><%= @file_stats[:games_number]%></td>
    <th>Victoires</th>
    <td><%= @file_stats[:wins_number]%></td>
  </tr>
  <tr>
    <th>Nombre de tués</th>
    <td><%= @file_stats[:kills]%></td>
    <th>Nombre d'assists</th>
    <td><%= @file_stats[:assists]%></td>
  </tr>
</table>