<div class="module-holder col-md-6 panel panel-default ">
   <div class="panel-heading">
     Historique de match - Lahft <a class="pull-right" href="/mypath"><i class="glyphicon glyphicon-wrench"></i></a>
   </div>
   <ul class="list-group">
     <%= render 'modules/history/match' %>
     <%= render 'modules/history/match' %>
   </ul>
</div>