
<%if user_signed_in?%>
  <% if current_user.admin? %>
    <%= link_to new_information_path, class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un article
    <% end %>
  <% end %>
<% end %>

<% @informations.each do |info| %>
  <div class="row article-row">
    <div class="col-md-12">
      <h3><%= link_to info.title, info %> <small>02.04.2015 [TODO]</small></h3>
      <p><%= info.smallDescription %><p>
        <% if info.detailedDescription != "" %>
        <p>
          <%= link_to info do %>
          <i>Voir l'article au complet...</i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
