<div>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td class="last_td_right">[Supprimer] 
      <%= form_for user, url: destroy_user_path(user), html: {method: "delete"}  do |f| %>
     
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button> 
      <% end %>
    </td>
  
  </tr>
</div>