<h2><%= @user.pseudoLoL %>'s Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h link_to friendship.friend.pseudoLoL, friendship.friend %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%=h link_to user.pseudoLoL, user %></li>
  <% end %>
</ul>