<h2><%= @user.email %></h2>

<% if user_signed_in? %>
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<button class='btn btn-primary'>Lol</button>
<% end %>

<h3>Accounts</h3>
  <%= render @accounts %>
  


