<%= form_for @trackgroup do |f| %>
<div class="field form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<p>
  <%= f.submit "Créer le groupe", class: "btn btn-primary" %>
</p>
<% end %>