<div>
  <tr>
    <td><%= link_to trackgroup.name, trackgroup %></td>
    <td><small><%= trackgroup.accounts.count %> membres </small></<td>
    <td class="last_td_right">[Supprimer le trackgroup] 
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button> 
    </td>
  
   
</div>