<div>
  <tr>
    <td><%= link_to trackgroup.name, trackgroup %></td>
    <td><small><%= trackgroup.accounts.count %> membres </small></<td>
      <td >[Editer le trackgroup] 
        <%= form_for trackgroup, url: edit_trackgroup_path(trackgroup), html: {method: "get"}  do |f| %>
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button> 
      <% end %>
    </td>
    <td class="last_td_right">[Supprimer le trackgroup] 
      <%= form_for trackgroup, html: {method: "delete"}  do |f| %>
     
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button> 
      <% end %>
    </td>
  
   
</div>