
    <%= button_to "Ajouter un groupe", new_trackgroup_path, :class => "btn btn-default", :method => "get" %>
<h3>Groupes d'utilisateurs</h3>
   <table class="table table-hover table-striped">
     <tr>
       <th>Nom du groupe</th>
       <th>Nombre de joueurs</th>
       <th>Modifier le nom</th>
       <th>Supprimer</th>
     </tr>
    <%= render @trackgroups %>
    </table>
<%= button_to "Ajouter un groupe", new_trackgroup_path, :class => "btn btn-default", :method => "get" %>
    
