<h1>A propos</h1>
<p>Site crée par Nicolas Huguenin, Christophe Bolinhas et Joé Bütikofer</p>
<p>dans le cadre du projet de Ruby on Rails à la HE-ARC Ingénierie de Neuchâtel</p>

<p>League Friend Tracker isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
