<%= form_for @dashboard do |f|, html: {role: "form" } %>
<div class="field form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="field form-group">
  <%= f.submit @button_text, class: "btn btn-default" %>
</div>
<% end %>