
<%= link_to users_dashboards_path, class:"btn btn-default btn-xs" do %>
      <i class="glyphicon glyphicon-chevron-left"></i> Retourner aux dashboards
    <% end %>
<h1><%= @dashboard.name %></h1>
  <div> 
   <%= form_for @dashboard, url: edit_dashboard_path(@dashboard), html: {method: "get"}  do |f| %>
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </button> 
      <% end %>
    </div>
    <div>
    <%= form_for @dashboard, html: {method: "delete"}  do |f| %>
     
      <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button> 
      <% end %>
    </div>