/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {
  min-height: 100%;
  height:100%;
  background-image: url('/assets/backgrounds/background-2.png');
  background-size:100% auto;
}

#main {
  overflow:auto;
  min-height:100%;
  height:100%;
	padding-bottom: 60px;
  border-left:1px solid black;
  border-right:1px solid black;
}  

.streched-vertical
{
    background-color:#272b30;
    min-height: 100%;
    /*height:100%;
     /*background-size: 100% 70%;*/
    padding-bottom: 60px;
}

.vertical-line
{
  width:2px;
  margin-right:2px;
  padding-right:2px;
  border:1px solid black;
  
}

.header
{
  margin-top:80px;
}

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
  background-color:#1C1E22;
  font-style:italic;
  font-size:0.95em;
  text-align:center;
  
  border-top:1px solid black;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.align-content-center
{
  text-align:center;


}

.input-group
{
  margin-top:2px;
  margin-bottom:2px;


}

.article-row
{
  margin-left:5px;
  border-bottom:1px solid #7A8288;

}

.label-link
{
    color:#fff;
}

.map_name
{
    font-style:italic;
    font-weight: bolder;
}

.game_date
{
    //font-style: italic;
}

.victory
{
    color:#00CC00; 
    font-weight: bold;
}
.defeat{
    color:#CC0000; 
    font-weight: bold;
}

.line-content
{
  display: table;
  width: 100%;
  
}

.vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle; 
}

.img-responsive
{
 padding:0px;
}

.list-group-item{
 padding: 0px;   
}

.obj_img
{
    width: 100%;   
}

.panel{
  padding-top:30px;
}

.col-centered{
float: none;
margin: 0 auto;
}


.table{
  margin-top:10px;
}

.last_td_right {
   text-align:right;
}

.centered
{
  margin-left: auto;
margin-right: auto;
float: none !important;
  
}

/* Header forms config */
.inline-form
{
  display:inline;
  
}

/* Colors */

.primary-color
{
  color:#7a8288;
  
}

/*  List-group condensed */
.list-group-condensed > .list-group-item
{
  border:0px;
  margin:2px;
  padding:2px;
  
}

.item-history{
  margin:0px;
  padding:0px;
  text-align:center;
}

.item-image{
  max-width:25px;
  
}
.champion-image{
  max-width:35px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.borderless td, .borderless th, .borderless tr, .borderless li{
  border:none;
  
}

/* rank coloration */
.style-unranked{
  display:none;
}

.style-bronze{
  background-color:#614E1A;
}

.style-silver{
  background-color:#CECECE;
}

.style-gold{
  background-color:#F5D800;
}

.style-platinum{
  background-color:#CCCCFF;
}

.style-diamond{
  background-color:#00CCCB;
}

.style-master{
  background-color:#F0E68C;
}

.style-challenger{
  background-color:#E8D630;
}