<div class="container header">
  <div class="row">
    <div class="col-md-4 hidden-xs hidden-sm"> </div>
    <div class="col-md-4">
      <%= form_tag(accounts_search_path, method: "get") do %>
      <div class="input-group dark-dropdown">
       <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Chercher un invocateur..." %>
          <div class="input-group-btn ">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              BR
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">EUW</a></li>
              <li><a href="#">EUNE</a></li>
              <li><a href="#">NA</a></li>
              <li class="divider"></li>
              <li><a href="#">All</a></li>
          </ul>
        </div>
        <span class="input-group-btn">
          <%= submit_tag "Chercher", :name => nil, :class =>"btn btn-primary" %>
        </span>
        </div>
      <% end %>
    </div>
  </div>
</div>