<tr>
  <td><%= link_to account.pseudoLoL, account_path(:region => account.region, :idLoL => account.idLoL) %></td>
<td><%= account.region %></td>
<td>
  <% @account = account %>
  <% if defined?(@trackgroup) %>
  <%= render "accounts_trackgroups/removeTrackgroup" %>
  <% else %>
  <%= render "accounts_users/removeAccount" %>
  <% end %>
</td>
</tr>


