

<tr>
<td><%= link_to account.pseudoLoL, account %></td>
<td><%= account.region %></td>
<td>[Supprimer le compte du trackgroup] <button type="button" class="btn btn-default btn-xs">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button> 
  </td>
</tr>