<h3>Comptes</h3>
Pour ajouter des amis à ce groupe, ajoutez les via leur page d'invocateurs !
<table class="table table-hover table-striped">
  <tr>
    <th>Nom du compte</th>
    <th>Continent</th>
    <th>Supprimer</th>
  </tr>
  <%= render @accounts %>
</table>