

<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez valider votre email au travers du lien ci-dessous : </p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
