<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué dû à un trop grand nombre de tentatives de connexion</p>

<p>Cliquez ci-dessous pour débloquer votre compte.</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token), html{ class:"btn btn-alert"} %></p>
